/* Skills.css */

.skills {
  padding: 80px 0;
  text-align: center;
}

.skills-container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow logos to wrap to the next line on smaller screens */
  margin-top: 30px;
}

.skill-logo {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.1s ease;
  animation-name: zoomInOut;
  animation-duration: 1s !important;
  animation-iteration-count: infinite; /* Change animation to 'move' with duration of 4s */
}

#one {
  animation-timing-function: ease;
}

#two {
  animation-timing-function: linear;
}

#three {
  animation-timing-function: ease-in;
}

#four {
  animation-timing-function: ease-out;
}

#five {
  animation-timing-function: ease-in-out;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1); /* Initial and final state: normal size */
  }
  50% {
    transform: scale(1.05); /* Middle state: zoomed in */
  }
}

.skill-logo:hover {
  transform: scale(1.1); /* Scale up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Shiny effect on hover */
}

/* Define background images for each technology logo */
.html {
  background-image: url("../assets/img/html5-logo-31813.png");
}

.css {
  background-image: url("../assets/img/html5-logo-31821.png");
}

.javascript {
  background-image: url("../assets/img/javascript-39404.png");
}

.cpp {
  background-image: url("../assets/img/cpp.png");
}
.react {
  background-image: url("../assets/img/react.png");
}
.redux {
  background-image: url("../assets/img/redux.png");
}
.bootstrap {
  background-image: url("../assets/img/bootstrap.png");
}
.nodejs {
  background-image: url("../assets/img/nodejs.png");
}
.mongo {
  background-image: url("../assets/img/mongo.png");
}
.git {
  background-image: url("../assets/img/git.png");
}
.premiere {
  background-image: url("../assets/img/premiere.png");
}
.ae {
  background-image: url("../assets/img/ae.png");
}
.canva {
  background-image: url("../assets/img/canva.png");
}
.fl {
  background-image: url("../assets/img/fl.png");
}
.typescript {
  background-image: url("../assets/img/ts.png");
}
.tailwind {
  background-image: url("../assets/img/tailwind.png");
}

/* Add more styles for other logos */

/* Responsive styles */
@media screen and (max-width: 768px) {
  .skill-logo {
    width: 80px; /* Adjust size for smaller screens */
    height: 80px; /* Adjust size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .skill-logo {
    width: 60px; /* Adjust size for even smaller screens */
    height: 60px; /* Adjust size for even smaller screens */
  }
}
